/* Coolors Exported Palette - coolors.co/d2ff2e-f95448-ffce5e-745296-5a0002 */

/* HSL */
$color1: hsla(73%, 100%, 59%, 1);
$color2: hsla(4%, 94%, 63%, 1);
$color3: hsla(42%, 100%, 68%, 1);
$color4: hsla(270%, 29%, 45%, 1);
$color5: hsla(359%, 100%, 18%, 1);

/* RGB */
$color1: rgba(210, 255, 46, 1);
$color2: rgba(249, 84, 72, 1);
$color3: rgba(255, 206, 94, 1);
$color4: rgba(116, 82, 150, 1);
$color5: rgba(90, 0, 2, 1);